* {
	box-sizing: border-box;
}

html {
	width: 100%;
	height: 100%;
}

html, body {
	background-color: black;
	padding: 0;
	margin: 0;
}

body {
	padding: 2px;
	width: calc(100% - 8px);
	height: calc(100% - 8px);
}

.outer {
	position: relative;
}

.climat-control-placeholder {
	width: 100%;
	height: calc(100% - 183px);
	font-size: 14px;
	line-height: 1.2em;
	position: relative;
}

.header {
	overflow: auto;
	display: grid;
	grid-template-rows: 40px;
	grid-template-columns: auto 150px;
}

.title {
    color: white;
    font-family: Courier;
    font-size: 24px;
    background-color: #35a9b3;
    padding: 5px 2px 5px 5px;
	box-shadow: 2px 3px 0px 0px rgba(214, 55, 55, 0.75);
	grid-row: 1;
	grid-column: 1;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 35px;
}

.title__icon {
	height: 24px;
	margin-top: -1px;
}

.errors {
	border: 2px dashed white;
	border-radius: 5px;
	color: white;
	padding: 7px;
	height: 150px;
	overflow: auto;
	display: flex;
}

.error__rows {
	list-style: square;
	margin: 0;
}

.fire, .water {
	display: flex;
	flex-direction: row;
	align-items: center;
	background-size: contain;
	background-repeat: no-repeat;
	padding-left: 20px;
	/* color: black; */
}

.fire button, .water button {
	width: 12px;
	height: 12px;
	padding: 2px;
	/* color: black; */
	display: flex;
	align-items: center;
	justify-content: center;
}

.fire {
	background-image: url("fire.svg");
}

.water {
	background-image: url("water.svg");
}

.changer {
	margin-left: 10px;
	grid-row: 1;
	grid-column: 2;
	background-color: #778e6b;
	color: white;
	box-shadow: -2px 3px 0px 0px rgba(214, 55, 55, 0.75);
	height: 35px;
	color: white;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.plus, .minus {
	background-size: contain;
	background-repeat: no-repeat;
}

.plus {
	background-image: url("plus.png");
}

.minus {
	background-image: url("minus.png");
}

.error {
	width: 16.6%;
}

.error__row {
	font-size: 10px;
}

.error__row  ul {
	list-style: none;
	padding: 0;
}

.error__title {
	font-size: 12px;
}